<nav class="navbar navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1>〶 ReCarGo</h1> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> Ana Sayfa</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ekleme İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="cars/add" href="#"><h5>Araç Ekle</h5></a></li>
            <li><a class="dropdown-item" routerLink="brands/add" href="#"><h5>Marka Ekle</h5></a></li>
            <li><a class="dropdown-item" routerLink="colors/add"><h5>Renk Ekle</h5></a></li>  
         

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Güncelleme İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="brands" href="#"><h5>Marka Ayarları</h5></a></li>
            <li><a class="dropdown-item" routerLink="colors"><h5>Renk Ayarları </h5></a></li>  
           
          </ul>
        </li>
      </ul>
      <form class="d-flex">
       
        <button class="btn btn-bill" routerLink="register" type="submit">Üye Ol</button>
        <button class="btn btn-primary" routerLink="login" type="submit">Giriş Yap</button>
      </form>
      <div class="dropdown text-end" *ngIf="checkToEmail()==true">
        <a
         
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="true"
           type="button"
           style="color: white;"
        >
        {{this.user.firstName}} {{this.user.lastName}}
        </a>
        
        <div class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a routerLink="/profil" class="dropdown-item">Profil düzenle</a></li>
          <li><a routerLink="cars/add" class="dropdown-item">Araba ekle</a></li>
          <li><a routerLink="brands/add" class="dropdown-item">Marka ekle</a></li>
          <li><a routerLink="colors/add" class="dropdown-item">Renk ekle</a></li>
          <li><a class="dropdown-item disabled">Ayarlar</a></li>
          <li><hr class="dropdown-divider" /></li>
          <a (click)="logOut()" class="dropdown-item">Çıkış yap</a>
        </div>
      </div>


      
    </div>
  </div>
</nav>
